[Unit]
Description=MADD handler service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /var/www/madd/handler.php cluster_server.ini
WorkingDirectory=/var/www/madd
Restart=on-failure
RestartSec=5
User=username

[Install]
WantedBy=multi-user.target
