[Unit]
Description=MADD deploy service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /var/www/madd/deploy/deploy.php deploy_server.ini
WorkingDirectory=/var/www/madd
Restart=on-failure
RestartSec=5
User=madd_system
Group=madd_system

[Install]
WantedBy=multi-user.target

